{% block stylesheets %}
    {{ encore_entry_link_tags('sliderSCSS') }}
{% endblock %}
<div class="home-slider flex flex-col gap-10 ">
	<h3 class="w-fit display-xl hanken uppercase  text-primary-dark dark:text-primary-light">{{ "home.sliderTitle" | trans | raw | nl2br }}</h3>
	<div class="flex test flex-col gap-5 overflow-hidden">
		<div class="slider flex gap-6 px-2">
			<div class="slider__wrap swiper-wrapper flex gap-6 ">
				{% for project in projects %}
					<div class="item swiper-slide">
                    {% include "partials/_card.html.twig" with {'project': project} %}
					</div>


				{% endfor %}
			</div>
		</div>
		{#BULLETS#}
		<div class="slider__controls">
			<div class="slider__pagination"></div>
		</div>
	</div>
</div>

{% block javascripts %}
{{encore_entry_script_tags('sliderJS')}}
{% endblock %}