<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dylan Quenon - {% block title %} {% endblock %}</title>
        <link rel="icon" href="/images/logo.svg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
         <link rel="apple-touch-icon" sizes="57x38" href="/images/logo.svg">
        <link rel="apple-touch-icon" sizes="72x49" href="/images/logo.svg">
        <link rel="apple-touch-icon" sizes="76x52" href="/images/logo.svg">
        <link rel="apple-touch-icon" sizes="114x78" href="/images/logo.svg">
        <link rel="apple-touch-icon" sizes="120x82" href="/images/logo.svg">
        <link rel="apple-touch-icon" sizes="144x98" href="/images/logo.svg">
        <link rel="apple-touch-icon" sizes="152x104" href="/images/logo.svg">
        <link rel="icon" type="image/png" href="/images/logo.svg" sizes="196x134">
        <link rel="icon" type="image/png" href="/images/logo.svg" sizes="160x110">
        <link rel="icon" type="image/png" href="/images/logo.svg" sizes="96x66">
        <link rel="icon" type="image/png" href="/images/logo.svg" sizes="16x11">
        <link rel="icon" type="image/png" href="/images/logo.svg" sizes="32x22">
        <link rel="icon" type="image/png" href="/images/logo.svg">
        <meta name="author" content="Dylan Quenon">
        <meta name="description" content="Bienvenue sur mon portfolio ! Je suis Dylan Quenon, développeur web passionné. Découvrez mes projets et mon approche pour créer des solutions fonctionnelles et innovantes.">
        <meta name="keywords" content="Dylan Quenon, développeur web, web developer, Braine-le-Château, Symfony, SCSS, Figma, JavaScript, React, Angular, SQL, développement web, création de sites web, applications web, design web, front-end, back-end, UX/UI design, HTML, CSS, responsive design, PHP, optimisation web, performance web, accessibilité web, développement">
        <meta property="og:title" content="Dylan Quenon - Développeur web passionné, découvrez mes projets">
        <meta property="og:type" content="website">
        <meta property="og:image" content="/images/logo.svg">
        <meta property="og:image:width" content="1800">
        <meta property="og:image:height" content="945">
        <meta property="og:url" content="https://dylanquenon.com/">
        <meta property="og:description" content="Bienvenue sur mon portfolio ! Je suis Dylan Quenon, développeur web passionné. Découvrez mes projets et mon approche pour créer des solutions fonctionnelles et innovantes.">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:site_name" content="Dylan Quenon">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Dylan Quenon - Développeur web passionné, découvrez mes projets">
        <meta name="twitter:url" content="https://dylanquenon.com/">
        <meta name="twitter:description" content="Bienvenue sur mon portfolio ! Je suis Dylan Quenon, développeur web passionné. Découvrez mes projets et mon approche pour créer des solutions fonctionnelles et innovantes.">
        <meta name="twitter:image" content="/images/logo.svg">
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% include "partials/header.html.twig" %}
        <div class="relative z-[1] min-h-full"id="content">
            {% block body %}{% endblock %}
        </div>
          {% include "partials/footer.html.twig" %}
        {% block javascripts %}
       

        {% endblock %}
    </body>

 
</html>
