*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}

.tracking-element{
    @media all and (max-width:1080px) {
        display: none;
    
    }
}
.buttonlink{
    &:hover{
    svg{
            transform: rotate(90deg) !important;
        }
    }
 
}

.circle-rotate{
    animation: rotate 10s infinite linear;
    @keyframes rotate {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
            }
    }
    svg{
        animation: none !important;
    }
}
.rotateLink{
    border-radius: 100%;
    &:hover{
        .circle-rotate.lightHover{
            background-color: #9D78F4;
        }
        .circle-rotate.darkHover{
            background-color: #341087;
        }
    }
}